ul li {
    color: black !important;
}

.headerOutline {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.25rem 1.5rem 0.25rem 1.5rem;
    border-radius: 1rem;
    margin: 0 -2.25rem 1.5rem;
    color: var(--alt-text-color);
    background-image: var(--fg-color);
    letter-spacing: .5px;
}